<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Scrapers</title>
</head>
<body>
    <h1>Scraper Apartamente</h1>

    <h2>Imobiliare.ro</h2>
    <button onclick="startScraping('imobiliare')">Cauta pe Imobiliare.ro</button>
    <button onclick="window.location.href='/download/imobiliare'">Download Imobiliare</button>
    <p id="status_imobiliare">Status: -</p>

    <h2>Publi24</h2>
    <button onclick="startScraping('publi24')">Cauta pe Publi24</button>
    <button onclick="window.location.href='/download/publi24'">Download Publi24</button>
    <p id="status_publi24">Status: -</p>


    <script>
        function startScraping(site) {
            document.getElementById("status_" + site).innerText = "Scraping...";
            fetch('/scrape/' + site)
            .then(() => checkStatus(site));
        }

        function checkStatus(site) {
            fetch('/status/' + site)
            .then(r => r.json())
            .then(data => {
                if (data.finished) {
                    document.getElementById("status_" + site).innerText = "Terminat!";
                } else {
                    setTimeout(() => checkStatus(site), 2000);
                }
            });
        }
    </script>
</body>
</html>
